.form-select{
    width:30% !important;
    margin-left:35%;
}
#opcioness{
    margin-left:45%;
    margin-bottom:20px;
}
#botonenviar{
    margin-left:38%;
}
#botonfinal{
    width:40%; 
    margin-left:29% !important;
}
body{
    background-color: rgb(48, 75, 99) !important;
}
#todoelform{
    width:40%; 
    margin-left:28% !important;
}
#ul{
    margin-left:23%;
}
#uld{
    margin-left:23%;
}
p{
    text-align: center;
}