.form-select{
    width:30% !important;
    margin-left:35%;
}
#opcioness{
    margin-left:45%;
    margin-bottom:20px;
    color:white;
}
#botonenviar{
    margin-left:38%;
}
#botonfinal{
    width:40%; 
    margin-left:29% !important;
}
body{
    background-color: rgb(48, 75, 99) !important;
}
#todoelform{
    width:40%; 
    margin-left:28% !important;
}
#ulpac{
    margin-left:23%;
}
#uldoc{
    margin-left:23%;
}
p{
    text-align: center;
    color:white;
}
h1{
    text-align: center;
    font-weight: 900 !important;
}
button{
    background-color: rgb(31, 129, 241) !important;
}